@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html{
    font-family: 'Anton', sans-serif;
}
#Navegacion{
    background-color: rgb(0, 0, 0);
    color: mintcream;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Navegacion > img{
    width: 100px;
}
#Navegacion >ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#Navegacion >ul >li{
    margin: 10px;
}
#pag{
    background-color: black;
    color: white;
}
#banner{
    max-width: 100%;
}
#r{
    color: white;
    background-color: rgb(170, 2, 2);
    display: flex;
    flex-direction: row;
}
button{
    width: 200px;
    height: 50px;
    background-color: rgba(179, 37, 37, 0);
    color: white;
    border-radius: 15px;
    font-weight: bolder;
    margin: auto;
}
#r > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button:hover{
    background-color: rgb(99, 0, 0);
    cursor: pointer;
}